<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CanInheritApplicationStateFromOtherProcesses</key>
	<true/>
	<key>absinthe-client</key>
	<string>355968556</string>
	<key>application-identifier</key>
	<string>com.apple.SharingViewService</string>
	<key>backupd-connection-initiate</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.CompanionLink</key>
	<true/>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.PairingManager.HomeKit</key>
	<true/>
	<key>com.apple.PairingManager.Read</key>
	<true/>
	<key>com.apple.PairingManager.Write</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.UIKit.vends-view-services</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.accounts.idms.fullaccess</key>
	<true/>
	<key>com.apple.appstored.install-apps</key>
	<true/>
	<key>com.apple.appstored.install-system-apps</key>
	<true/>
	<key>com.apple.assistant.dictation.prerecorded</key>
	<true/>
	<key>com.apple.assistant.settings</key>
	<true/>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.cdp.statemachine</key>
	<true/>
	<key>com.apple.cdp.utility</key>
	<true/>
	<key>com.apple.coreaudio.CanRecordPastData</key>
	<true/>
	<key>com.apple.coreaudio.register-internal-aus</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.developer.homekit.background-mode</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.homekit.private-spi-access</key>
	<true/>
	<key>com.apple.icloud.fmfd.access</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.beaconmanager</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.pairingmanager</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.payment.all-access</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>EthernetMacAddress</string>
		<string>UniqueDeviceID</string>
		<string>WifiAddressData</string>
		<string>WifiAddress</string>
	</array>
	<key>com.apple.private.SafariServices.PasswordPicker.directlyReceiveCredentials</key>
	<true/>
	<key>com.apple.private.SafariServices.PasswordPicker.setRemoteAppProperties</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.BridgeAssets</string>
		<string>com.apple.MobileAsset.SharingDeviceAssets</string>
		<string>com.apple.MobileAsset.VoiceTriggerAssets</string>
		<string>com.apple.MobileAsset.VoiceTriggerAssetsIPad</string>
	</array>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.homekit</key>
	<true/>
	<key>com.apple.private.homekit.remote-login.private</key>
	<true/>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>InstallForLaunchServices</string>
	</array>
	<key>com.apple.private.networkextension.configuration</key>
	<true/>
	<key>com.apple.private.octagon</key>
	<true/>
	<key>com.apple.private.system-keychain</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceBluetoothAlways</string>
		<string>kTCCServiceCamera</string>
		<string>kTCCServiceMediaLibrary</string>
		<string>kTCCServiceMicrophone</string>
		<string>kTCCServiceWillow</string>
	</array>
	<key>com.apple.private.usernotifications.settings</key>
	<array>
		<string>read</string>
		<string>write</string>
	</array>
	<key>com.apple.purplebuddy.budd.access</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.analyticsd</string>
		<string>com.apple.appstored.xpc.request</string>
		<string>com.apple.awdd</string>
		<string>com.apple.CompanionLink</string>
		<string>com.apple.coreservices.appleid.authentication</string>
		<string>com.apple.icloud.fmfd</string>
		<string>com.apple.lsd.installation</string>
		<string>com.apple.lsd.xpc</string>
		<string>com.apple.PairingManager</string>
		<string>com.apple.purplebuddy.budd.proximity.source.xpc</string>
		<string>com.apple.sharingd.b332setup</string>
		<string>com.apple.SharingServices</string>
		<string>com.apple.soundboardservices.server</string>
		<string>com.apple.telephonyutilities.callservicesdaemon.callstatecontroller</string>
		<string>com.apple.timed.xpc</string>
		<string>com.apple.wifi.manager</string>
	</array>
	<key>com.apple.sharing.Client</key>
	<true/>
	<key>com.apple.sharing.DeviceDiscovery</key>
	<true/>
	<key>com.apple.sharing.RemoteInteractionSession</key>
	<true/>
	<key>com.apple.sharing.Services</key>
	<true/>
	<key>com.apple.sharing.Session</key>
	<true/>
	<key>com.apple.sharingd.b332setup</key>
	<true/>
	<key>com.apple.springboard-ui.client</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.activateRemoteAlert</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.openurlinbackground</key>
	<true/>
	<key>com.apple.stereoleader.soundboard</key>
	<true/>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<array>
		<string>access-call-providers</string>
		<string>access-calls</string>
		<string>modify-calls</string>
	</array>
	<key>com.apple.timed</key>
	<true/>
	<key>com.apple.voicetrigger.voicetriggerservice</key>
	<true/>
	<key>com.apple.wifi.eap-nearby-device-setup-config-copy</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>com.apple.wirelessproxd-disable-scans</key>
	<true/>
	<key>fairplay-client</key>
	<integer>1445028844</integer>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.cfnetwork</string>
		<string>com.apple.mobilesafari</string>
		<string>com.apple.Sharing</string>
	</array>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
