<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.cloudpaird</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>aps-environment</key>
	<string>production</string>
	<key>com.apple.accounts.applicationidfrompid</key>
	<true/>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Production</string>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.imagent</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.aps-connection-initiate</key>
	<true/>
	<key>com.apple.private.cloudkit.serviceNameForContainerMap</key>
	<dict>
		<key>com.apple.securedBluetooth</key>
		<string>BluetoothCloudPairing2</string>
	</dict>
	<key>com.apple.private.cloudkit.systemService</key>
	<string>YES</string>
	<key>com.apple.private.iaaccounts</key>
	<true/>
	<key>com.apple.private.ids.identityservicesd</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.icloudpairing</string>
	</array>
	<key>com.apple.private.ids.messaging.high-priority</key>
	<array>
		<string>com.apple.private.alloy.icloudpairing</string>
	</array>
	<key>com.apple.private.ids.registration</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceLiverpool</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.apsd</string>
		<string>com.apple.cloudd</string>
		<string>com.apple.telephonyutilities.callservicesdaemon.callstatecontroller</string>
		<string>com.apple.bluetooth.cloudkit.xpc</string>
		<string>com.apple.bluetoothd</string>
	</array>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<array>
		<string>access-calls</string>
		<string>modify-calls</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>appleaccount</string>
		<string>apple</string>
		<string>InternetAccounts</string>
	</array>
</dict>
</plist>
