<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allow-obliterate-device</key>
	<true/>
	<key>application-identifier</key>
	<string>com.apple.dmd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.BTServer.allowRestrictedServices</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
		<string>identity</string>
		<string>vinyl-standalone</string>
	</array>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.GAX.SPI</key>
	<true/>
	<key>com.apple.MobileInternetSharing.allow</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>com.apple.AutoWake.xml</string>
		<string>preferences.plist</string>
	</array>
	<key>com.apple.appletv.pbs.allow-active-application</key>
	<true/>
	<key>com.apple.appletv.pbs.osupdate-service-access</key>
	<true/>
	<key>com.apple.appstored.install-apps</key>
	<true/>
	<key>com.apple.appstored.private</key>
	<true/>
	<key>com.apple.appstored.xpc.updates</key>
	<true/>
	<key>com.apple.apsd.ios-device-push-token</key>
	<true/>
	<key>com.apple.avfoundation.allow-system-wide-context</key>
	<true/>
	<key>com.apple.avfoundation.allows-access-to-device-list</key>
	<true/>
	<key>com.apple.avfoundation.allows-set-output-device</key>
	<true/>
	<key>com.apple.bulletinboard.settings</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.frontboard.shutdown</key>
	<true/>
	<key>com.apple.frontboard.wipedevice</key>
	<true/>
	<key>com.apple.frontboardservices.display-layout-monitor</key>
	<true/>
	<key>com.apple.ibooks.BLService.private</key>
	<true/>
	<key>com.apple.icloud.FindMyDevice.FindMyDeviceHelperXPCService.access</key>
	<true/>
	<key>com.apple.icloud.findmydeviced.access</key>
	<true/>
	<key>com.apple.itunesstored.metrics</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.keystore.device</key>
	<true/>
	<key>com.apple.keystore.escrow.create</key>
	<true/>
	<key>com.apple.locationd.authorizeapplications</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.lsapplicationproxy.deviceidentifierforvendor</key>
	<true/>
	<key>com.apple.managedconfiguration.mdmd-access</key>
	<true/>
	<key>com.apple.managedconfiguration.mdmuserd-access</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled.configurationprofiles</key>
	<array>
		<string>Inspection</string>
		<string>PopInstallationQueue</string>
		<string>Removal</string>
		<string>SilentNonUIInstallation</string>
		<string>UIInstallation</string>
		<string>CloudLockedRemoval</string>
	</array>
	<key>com.apple.managedconfiguration.profiled.get</key>
	<array>
		<string>MachineInfo</string>
		<string>ManagedApplications</string>
		<string>NetworkExtension</string>
		<string>WiFiNetworks</string>
	</array>
	<key>com.apple.managedconfiguration.profiled.provisioningprofiles</key>
	<array>
		<string>Installation</string>
		<string>PopInstallationQueue</string>
		<string>Removal</string>
		<string>Validation</string>
	</array>
	<key>com.apple.managedconfiguration.profiled.set</key>
	<array>
		<string>ActivationLock</string>
		<string>ActivationRecord</string>
		<string>Certificates</string>
		<string>ClientRestrictions</string>
		<string>CloudConfiguration</string>
		<string>Passcode</string>
		<string>Safari</string>
		<string>UserSettings</string>
	</array>
	<key>com.apple.managedconfiguration.profiled.usercompliance</key>
	<true/>
	<key>com.apple.managedconfiguration.teslad-access</key>
	<true/>
	<key>com.apple.mkb.usersession.delete</key>
	<true/>
	<key>com.apple.mkb.usersession.info</key>
	<true/>
	<key>com.apple.mkb.usersession.loginwindow</key>
	<true/>
	<key>com.apple.mobile.keybagd.UserManager.bubblepop</key>
	<true/>
	<key>com.apple.multitasking.termination</key>
	<true/>
	<key>com.apple.private.InstallCoordination.allowed</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.otherIdLookup</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>DeviceClass</string>
		<string>ProductType</string>
		<string>ProductVersion</string>
		<string>BuildVersion</string>
		<string>SerialNumber</string>
		<string>ModelNumber</string>
		<string>UniqueDeviceID</string>
		<string>UserAssignedDeviceName</string>
		<string>DiskUsage</string>
		<string>TelephonyCapability</string>
		<string>CellularDataCapability</string>
		<string>PersonalHotspotCapability</string>
		<string>PhoneNumber</string>
		<string>EthernetMacAddress</string>
		<string>BluetoothAddress</string>
		<string>WifiAddress</string>
		<string>WifiAddressData</string>
		<string>MobileSubscriberCountryCode</string>
		<string>MobileSubscriberNetworkCode</string>
	</array>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.donotdisturb.state.request.client-identifiers</key>
	<string>com.apple.dmd</string>
	<key>com.apple.private.lockdown.finegrained-get</key>
	<array>
		<string>NULL/ActivationPrivateKey</string>
		<string>NULL/DevicePrivateKey</string>
		<string>NULL/DeviceCertificate</string>
		<string>NULL/DeviceName</string>
		<string>com.apple.mobile.backup/LastCloudBackupDate</string>
	</array>
	<key>com.apple.private.lockdown.finegrained-set</key>
	<array>
		<string>NULL/DeviceName</string>
	</array>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>Uninstall</string>
		<string>Lookup</string>
		<string>CopyDiskUsageForLaunchServices</string>
		<string>UninstallForLaunchServices</string>
		<string>InstallForLaunchServices</string>
	</array>
	<key>com.apple.private.screen-time</key>
	<true/>
	<key>com.apple.private.security.storage.AppDataContainers</key>
	<true/>
	<key>com.apple.private.sysdiagnose</key>
	<true/>
	<key>com.apple.private.system-keychain</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceMediaLibrary</string>
	</array>
	<key>com.apple.private.usage-tracking</key>
	<true/>
	<key>com.apple.rootless.storage.dmd</key>
	<true/>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.configurationprofiles</string>
		<string>systemgroup.com.apple.media.books.managed</string>
	</array>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.remote-alert</key>
	<true/>
	<key>com.apple.springboard.wipedevice</key>
	<true/>
	<key>com.apple.usermanagerd.persona.fetch</key>
	<true/>
	<key>com.apple.usermanagerd.persona.setbundle</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.certificates</string>
		<string>com.apple.identities</string>
		<string>com.apple.preferences</string>
		<string>com.apple.managed.vpn.shared</string>
	</array>
</dict>
</plist>
