<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.CompanionLink</key>
	<true/>
	<key>com.apple.PairingManager.Read</key>
	<true/>
	<key>com.apple.PairingManager.RemovePeer</key>
	<true/>
	<key>com.apple.PairingManager.Write</key>
	<true/>
	<key>com.apple.airplay.receiver.mediaremote.services</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-screen-saver</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-wake</key>
	<true/>
	<key>com.apple.appletv.pbs.mediaremote</key>
	<true/>
	<key>com.apple.avfoundation.allow-system-wide-context</key>
	<true/>
	<key>com.apple.avfoundation.allows-access-to-device-list</key>
	<true/>
	<key>com.apple.avfoundation.allows-set-output-device</key>
	<true/>
	<key>com.apple.bluetooth.internal</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.frontboardservices.display-layout-monitor</key>
	<true/>
	<key>com.apple.hid.manager.user-access-device</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.managedconfiguration.feature-setting.allowRemoteAppPairing</key>
	<true/>
	<key>com.apple.mediaremote.nearby-device</key>
	<string>YES</string>
	<key>com.apple.mediaremote.send-commands</key>
	<true/>
	<key>com.apple.mediaremote.set-playback-state</key>
	<true/>
	<key>com.apple.multitasking.unlimitedassertions</key>
	<true/>
	<key>com.apple.private.associated-domains</key>
	<true/>
	<key>com.apple.private.hid.client.event-dispatch</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.lockdown.finegrained-set</key>
	<array>
		<string>NULL/DeviceName</string>
	</array>
	<key>com.apple.private.system-keychain</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceMediaLibrary</string>
		<string></string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.SharingServices</string>
		<string>com.apple.CompanionLink</string>
		<string>com.apple.PairingManager</string>
		<string>com.apple.SharedWebCredentials</string>
	</array>
	<key>com.apple.sharing.ProximityClient</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.activateRemoteAlert</key>
	<true/>
	<key>com.apple.springboard.launchapplications</key>
	<true/>
	<key>com.apple.springboard.lockScreenContentAssertion</key>
	<true/>
	<key>com.apple.springboard.remote-alert</key>
	<true/>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<array>
		<string>access-calls</string>
	</array>
	<key>fairplay-client</key>
	<integer>1974055701</integer>
	<key>keychain-access-groups</key>
	<array>
		<string>com.apple.MediaRemote.pairing</string>
		<string>com.apple.airplay</string>
		<string>apple</string>
	</array>
</dict>
</plist>
