<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.subridged</string>
	<key>com.apple.nano.nanoregistry</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.WatchSoftwareUpdateDocumentation</string>
	</array>
	<key>com.apple.private.assets.change-daemon-config</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.otaupdate</string>
		<string>com.apple.private.alloy.otaupdate.cloud</string>
	</array>
	<key>com.apple.private.ids.messaging.high-priority</key>
	<array>
		<string>com.apple.private.alloy.otaupdate</string>
		<string>com.apple.private.alloy.otaupdate.cloud</string>
	</array>
	<key>com.apple.private.sharing.unlock-manager</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.subridged</string>
	</array>
</dict>
</plist>
